body {
  font-family: sans-serif;
  background-color: #3563f8;
}
.container {
  width: fit-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 150px);
  gap: 12px;
}
h4 {
  display: flex;
  justify-content: center;
  color: white;
}
img {
  border: 2px solid rgb(0, 1, 49);
  border-radius: 8px 8px 0 0;
  height: 136px;
  width: 136px;
  object-fit: contain;
  background-color: rgb(182, 182, 182);
}
.image-container {
  width: 140px;
  border: 2px solid rgb(0, 1, 49);
  border-radius: 8px;
  background-color:rgb(0, 1, 49);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.scoreboard {
  grid-column: 1 / 7;
  background: rgb(0, 1, 49);
  color: white;
  padding: 5px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  font-weight: 800;
}